/**
 * Posts and pages
 */
 .sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-meta,
.entry-footer {
	margin-top: 1em;
}

.entry-footer span {
	margin-right: 1em;
}

.inline-icon {
	display: inline-block;
	vertical-align: sub;
	width: auto;
	height: 1em;
	fill: currentColor;
}

/**
 * Video grids
 */
 .video-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 0.35em 0.35em;
	max-width: 100vw;
	margin: 2em 0 0;
	list-style: none;

	figure {
		position: relative;
		overflow: hidden;
		height: 100%;

		img {
			display: block;
			width: 100%;
			height: auto;
			max-width: 100%;
			opacity: 0.85;
			-webkit-transition: all .25s;
			transition: all .25s;
		}

		figcaption {
			pointer-events: none;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			line-height: 1.2;
			background: rgba(0,0,0,0.85);
			color: $white;
			opacity: 0;
			-webkit-transition: all .25s;
			transition: all .25s;

			a {
				height: 100%;
				pointer-events: auto;
				text-decoration: none;
				color: $white;
			}

			h2 {
				padding: 0 1em;
				font-size: $px17;
				text-transform: none;
				color: $white;
				text-shadow: 0.035em 0.035em 0.035em rgba(0, 0, 0, 0.85);
			}

			.clip-links {
				width: 100%;
				display: -webkit-box;
				display: -moz-box;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-pack: distribute;
					justify-content: space-around;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;
				margin-top: 1em;
				padding: 0.5em 1em;
				-webkit-transition: all .15s;
				transition: all .15s;

				a {
					display: inline-block;
					font-size: 1.125em;
				}

				svg {
					display: inline-block;
					margin: 0 1em 0 0;
					height: 19px;
					fill: rgba(255,255,255,0.85);
				}
			}
		}

		&:hover,
		&:focus {

			img {
				opacity: 1;
			}

			figcaption {
				opacity: 1;
			}
		}
	}

	&:not(.clip-archive-grid) {

		.clip-links {
			position: absolute;
			left: 0;
			bottom: 0.5em;
		}
	}

	&.clip-archive-grid {
		grid-template-columns: repeat(3, 1fr);

		li {
			position: relative;
		}

		figure {

			figcaption {
				height: auto;
				opacity: 1;
				background: -webkit-gradient(
					linear,
					left top, left bottom,
					from(transparent),
					color-stop(60%, rgba(0,0,0,0.425)),
					to(rgba(0,0,0,0.65))
				);
				background: linear-gradient(
					to bottom,
					transparent 0%,
					rgba(0,0,0,0.425) 60%,
					rgba(0,0,0,0.65) 100%
				);
				-webkit-transform: translateY(1.5em);
				        transform: translateY(1.5em);
				-webkit-transition: all .25s;
				transition: all .25s;

				.clip-links {
					opacity: 0;
				}

			}

			&:hover,
			&:focus {
				figcaption {
					-webkit-transform: translateY(0);
					        transform: translateY(0);

					.clip-links {
						opacity: 1;
					}
				}
			}
		}
	}
}

.modal-caption-title,
.clip-description-label {
	font-family: $display;
	font-size: $px18;
	font-weight: bold;
	font-weight: 600;
}

/**
 * Contact page
 */
 .info-page-content {
	margin-top: 2em;
}

.agency-info {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 1em;
	line-height: 1.3;
}

.agency-info a {
	text-decoration: none;
}

.agency-content {
	margin-top: 2em;
}

.agency-content img {
	display: block;
	margin-top: 1.75em;
	max-width: 160px;
	float: left;
	margin-right: 2em;
}

.agency-content h3 {
    margin-top: 1em;
	font-size: 2rem;
	font-weight: 500;
	font-variant: small-caps;
}

.entry-content ul.agents-list {
	list-style: none;
    margin: 0;
    padding-top: 1em;
}

.agents-list {
    display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
}

.agents-list li {
	padding: 1em 0;
}

.agents-list a {
	text-decoration: none;
}

.agent-department {
    font-size: 0.975em;
    font-weight: bold;
    font-weight: 700;
}

.agency-info a[href^="tel:"],
.agent-tel {
	font-size: 0.975em;
    font-weight: bold;
    font-weight: 500;
}

.resume-link {
	clear: both;
	margin-top: 2em;
	padding: 2em 0;
	border-top: solid 1px $pale_gray;
}

.resume-link p {
	margin: 0;
}

.button.resume-link-button {
	font-family: $display;
	font-size: $px18;
	font-weight: bold;
	font-weight: 600;
	font-variant: small-caps;
	text-decoration: none;
}

@media screen and (min-width: 37.5em) {

	.project-top {
		figure {
			img {
				max-width: 120px;
			}
		}
	}
}

@media screen and (max-width: 960px) {

	.video-grid {
		grid-template-columns: repeat(2, 1fr);

		&.clip-archive-grid {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media screen and (max-width: 640px) {

	.video-grid {
		grid-template-columns: repeat(1, 1fr);

		&.clip-archive-grid {
			grid-template-columns: repeat(1, 1fr);
		}
	}
}