/**
 * Header
 */
.site-title {
	/* Match <p> tag to <h1> tag on front page */
	font-size: 2em;

	a {
		text-decoration: none;
		color: $dark_gray;
	}
}

.site-description {
	margin: 0;
}

.site-header-image {
	margin: 1em 0;
}