/**
 * User toolbar
 *
 * For reference, following is a list of body classes
 * applied by the user color schemes.
 *
 * * Fresh (default): `.admin-color-fresh, .user-color-fresh`
 * * Light: `.admin-color-light, .user-color-light`
 * * Blue: `.admin-color-blue, .user-color-blue`
 * * Coffee: `.admin-color-coffee, .user-color-coffee`
 * * Ectoplasm: `.admin-color-ectoplasm, .user-color-ectoplasm`
 * * Midnight: `.admin-color-midnight, .user-color-midnight`
 * * Ocean: `.admin-color-ocean, .user-color-ocean`
 * * Sunrise: `.admin-color-sunrise, .user-color-sunrise`
 */
 @import '_variables';

#wpadminbar {
	color: #fff;
	background: #444;

	.ab-item,
	a.ab-item,
	> #wp-toolbar span.ab-label,
	> #wp-toolbar span.noticon,
	.ab-icon,
	.ab-icon:before,
	.ab-item:before,
	.ab-item:after {
		color: #eee;
	}
}

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item,
#wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
	color: #fff;
	background: #888;
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label,
#wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label {
	color: #fff;
}

#wpadminbar:not(.mobile) li:hover .ab-icon:before,
#wpadminbar:not(.mobile) li:hover .ab-item:before,
#wpadminbar:not(.mobile) li:hover .ab-item:after,
#wpadminbar:not(.mobile) li:hover #adminbarsearch:before {
color: #fff;
}

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
	background: #444;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary,
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
	background: #888;
}

#wpadminbar .ab-submenu .ab-item,
#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
	color: #fff;
}

#wpadminbar .quicklinks li .blavatar,
#wpadminbar .menupop .menupop > .ab-item:before {
	color: #fff;
}

#wpadminbar .quicklinks .menupop ul li a:hover,
#wpadminbar .quicklinks .menupop ul li a:focus,
#wpadminbar .quicklinks .menupop ul li a:hover strong,
#wpadminbar .quicklinks .menupop ul li a:focus strong,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a,
#wpadminbar .quicklinks .menupop.hover ul li a:hover,
#wpadminbar .quicklinks .menupop.hover ul li a:focus,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus,
#wpadminbar li:hover .ab-icon:before,
#wpadminbar li:hover .ab-item:before,
#wpadminbar li a:focus .ab-icon:before,
#wpadminbar li .ab-item:focus:before,
#wpadminbar li .ab-item:focus .ab-icon:before,
#wpadminbar li.hover .ab-icon:before,
#wpadminbar li.hover .ab-item:before,
#wpadminbar li:hover #adminbarsearch:before,
#wpadminbar li #adminbarsearch.adminbar-focused:before {
	background: #888;
	color: #fff;
}

#wpadminbar .quicklinks li a:hover .blavatar,
#wpadminbar .quicklinks li a:focus .blavatar,
#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar,
#wpadminbar .menupop .menupop > .ab-item:hover:before,
#wpadminbar.mobile .quicklinks .ab-icon:before,
#wpadminbar.mobile .quicklinks .ab-item:before {
	color: #fff;
}

#wpadminbar.mobile .quicklinks .hover .ab-icon:before,
#wpadminbar.mobile .quicklinks .hover .ab-item:before {
	color: #fff;
}

/* Admin Bar: frontend link */
.wp-admin #wpadminbar #wp-admin-bar-frontend-link > .ab-item {
	font-weight: bold;
	font-weight: 700;
}

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
	color: #fff;
}

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
	color: #444;
	background: #eee;
}

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
	border: none;
	background-color: #444;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
	color: #fff;
}

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
	color: #fff;
}

#wpadminbar #wp-admin-bar-user-info .username {
	color: #fff;
}